// ../ is to go back one level in the folder structure
@import "../utils/mixins";

nav {
    @include flex_container;

    // I use the variable defined above to give a value for background-color
    background-color: $nav-background-color;

    // This is equal to typing nav a { } in a CSS file
    a {
        @include flex_item_sizing;

        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;

        padding: 20px;

        &:hover, &:focus {
            background-color: adjust-color($color: yellow, $lightness: -15%);
        }

        &:active {
            color: adjust-color($color: red, $lightness: -25%);
        }
    }

    // Element with id active in the nav bar has this styling
    #active {
        color: $active-link-color;
        font-weight: bold;
        font-size: 24px;
    }
}