nav {
    display: flex;

    // I use the variable defined above to give a value for background-color
    background-color: $nav-background-color;

    // This is equal to typing nav a { } in a CSS file
    a {
        flex: 1;

        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;

        padding: 20px;

        &:hover, &:focus {
            background-color: yellow;
        }

        &:active {
            color: red;
        }
    }

    // Element with id active in the nav bar has this styling
    #active {
        color: $active-link-color;
        font-weight: bold;
        font-size: 24px;
    }
}