// Mr. Hardman
@import "utils/variables";
@import "base/base";
@import "components/navigation";

%button_common {
    color: whitesmoke;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

article {

    // This is the same as typing article h3 { } in our CSS
    h3 {
        color: $article-heading-color;
        font-size: 28px;
    }

    // This is the same as typing article p { } in our CSS
    p {
        color: $article-paragraph-color;
        font-size: 20px;
    }
    
}

#btn-success {
    @extend %button_common;
    background-color: darkgreen;
}

#btn-warning {
    @extend %button_common;
    background-color: darkgoldenrod;
}

#btn-error {
    @extend %button_common;
    background-color: darkred;
}