* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F594;
}

nav a {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;
}

nav a:hover, nav a:focus {
  background-color: #b3b300;
}

nav a:active {
  color: maroon;
}

nav #active {
  color: #B314DB;
  font-weight: bold;
  font-size: 24px;
}

#btn-success, #btn-warning, #btn-error {
  color: whitesmoke;
  font-size: 20px;
  padding: 5px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

article h3 {
  color: #5d12e7;
  font-size: 28px;
}

article p {
  color: #444444;
  font-size: 20px;
}

#btn-success {
  background-color: darkgreen;
}

#btn-warning {
  background-color: darkgoldenrod;
}

#btn-error {
  background-color: darkred;
}
